
_basura/
_infoMineduc/
_infoMineduc
_latexFromMatlab/_tempFiles/
_latexFromMatlab/beamer/-tempFiles/
_stataFromMatlab/_tempFiles/


# Files with apiKeys
__fromOthers/titleCaseConverter.py
__fromOthers/plotMap.m




## This is mac stuff
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk